body *{
	color: #888888;
	font-family: 'Permanent Marker', cursive;
}

header,footer {
	text-align: center;
	border-top: 2px solid #777777;
	border-bottom: 2px solid #777777;
}

header *{
	display: inline-block;
	vertical-align: middle;
}

h1,h2 {
	color: #777777;
}

content{
	display: block;
	min-width: 50%;
	max-width: 60%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

fieldset {
	border-radius: 4px;	
}

button{
	color: #4B4A4A;
}

#notification {
	height: 1em;
}

.right {
	float: right;
	text-align: right;
	clear: both;
}
.fadeReady{
	opacity:0;
	 -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
	transition: opacity 2s;
}
.fade {
	opacity:1;
}
.error {
	color: red;
	height: 1em;
	text-align: right;
}
.margin2 {
	margin: 2px;
}
.list td {
	padding: 2px 10px;
}